.calloutImage{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleCallout{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 115px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-style: italic;
    padding-top: 120px;
}

.explorebutton{
    padding: 5px 20px; 
    border-radius: 20px;
    background-color: brown;
    color: #fff4e6;
    border: none;
    width: 200px;
    height: 80px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 750px;
}

