* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.naviDecoration{
  font-size: 40px;
  background-color: #854442;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}

.naviCompany{
  font-size: 40px;
  width: 30%;
  color: #fff4e6;
  font-family: cursive;
}

.naviLinksDecoration{
    color: #fff4e6;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10%;
    font-family: cursive;
}

.footer{
  height: 100px;
  width: 100%;
  background-color: #854442;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.copyrighttitle{
  font-size: 35px;
  color: #fff4e6;
  font-family: cursive;

}

.copyright{
  font-size: 35px;
  color: #fff4e6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  
}


