.messageSent{
    font-size: 80px;
    height: 900px;
    color:  #fff4e6;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
  }